@import '../../../styles/calcVW.scss';
$medida: 1920;

.containerContact {
	padding-right: calculate-vw(665, $medida);
	padding-left: calculate-vw(665, $medida);
}

.text {
	font-size: 17px;
}

@media (max-width: 1366px) {
	$medida: 1366;
	.containerContact {
		padding-right: calculate-vw(388, $medida);
		padding-left: calculate-vw(388, $medida);
	}
}

@media (max-width: 768px) {
	$medida: 768;
	.containerContact {
		padding-right: calculate-vw(89, $medida);
		padding-left: calculate-vw(89, $medida);
	}
	.text {
		font-size: 15px;
	}
}

@media (max-width: 414px) {
	$medida: 414;
	.containerContact {
		padding-right: calculate-vw(28, $medida);
		padding-left: calculate-vw(28, $medida);
	}
}
